{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}Formulário de Recuperação de Senha{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
            <p>Esqueceu a sua senha? Digite seu endereço de e-mail abaixo, e nós enviaremos um e-mail com as instruções
                para criar uma nova senha de acesso.</p>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {{ form.email.errors }}
                        <p><label for="id_email">{% translate 'Email address:' %}</label>
                            {{ form.email }}</p>
                    </div>
                    <input type="submit" value="{% translate 'Reset my password' %}">
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
