<footer class="main-footer mt-5 pt-3 text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3> Entre em Contato</h3>
                <address>
                    <a href="tel:+5511988293184" class="text-light">Cel.: +55 11 98829-3184</a>
                    <br/>
                    <a href="mailto:{{contato_email}}" class="text-light"> {{contato_email}}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} WschmidtS - Todos Direitos Reservados
                </div>
            </div>
        </div>
    </div>

</footer>